<<<<<<< HEAD
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.felexible-conatanier{
    display: flex;
    padding: 5%;

    
}
.top-banner{
    background-image: url(images/wave.svg);
    background-repeat: no-repeat;
}
.bottom-banner img{
    border-radius: 50%;
    width: 80%;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 80%;
}
.link{
    text-decoration: none;
    padding: 10px  50px;
    background-image: linear-gradient(blue, blueviolet);
    border-radius: 10px;
}
.text-white{
    color: white;
}
section .specialized-head{
    text-align: center;
    padding: 0 30% 0 30%;
}
.parrent{
    display: flex;
    padding: 0 10%;
}
.child{
    box-shadow: 10px 5px 40px black;
    margin: 2%;
    padding: 50px;
    border-radius: 0 20px 50px 0;
    border-left: 5px solid;
    border-image: linear-gradient(blue,cyan)0 100%;
}
footer{
    text-align: center;
    color: rgb(44, 44, 56);
    padding: 30px;
=======
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
section{
    display: flex;
    padding: 5%;

    
}
.top-banner{
    background-image: url(images/wave.svg);
    background-repeat: no-repeat;
}
.bottom-banner img{
    border-radius: 50%;
    width: 80%;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 80%;
}
.link{
    text-decoration: none;
    padding: 10px  50px;
    background-image: linear-gradient(blue, blueviolet);
    border-radius: 10px;
}
.text-white{
    color: white;
>>>>>>> 5286b799c45a3dcd404a0f6fea60beb2f27efa6e
}